.input {
    display: block;
}

.bodyyy{
    
    background-color: rgb(144, 105, 180,0);
         
    display: grid;
       
    padding: 6vw;
    
 }

 .signup{
    padding: 2vw;
    
    height: 550px;
    margin: auto;
    width: 30%;
}

button{
    background-color: #E24A52 !important;
    margin: 1vw;
    padding: .2vw;
    color:white;
}