<div class = "bodyy">
<mat-card class="welcome">
  <mat-card-content>
    <h1>Welcome to the</h1>
  
    <h1>Eleven Fifty Academy</h1>
    <h1>Job Board</h1>
    <br>
    <br>
    <br>
    <br>
    <u>Are you a student or employer?</u>
    <br>

    <button mat-raised-button routerLink="/studentLogin" (click)="authService.studentUser()">Students</button>
    <button mat-raised-button routerLink="/employerLogin" (click)="authService.employerUser()">Employers</button>
  </mat-card-content>
</mat-card>
</div>