<mat-card>
  <mat-card-header>
    <h1>{{authService.userType}} Login</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="input">
      <input [(ngModel)]="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="input">
      <input [(ngModel)]="password" matInput placeholder="Password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button *ngIf="authService.isStudent()" routerLink="/studentSignup">To Signup</button>
    <button mat-raised-button *ngIf="authService.isStudent()" (click)="handleSubmite()">Submit</button>
    <button mat-raised-button *ngIf="!authService.isStudent()" routerLink="/employerSignup">To Signup</button>
    <button mat-raised-button *ngIf="!authService.isStudent()" (click)="handleSubmite()">Submit</button>
  </mat-card-footer>
</mat-card>
