<mat-card>
  <mat-card-header>
    <h1>Create New Job</h1>
  </mat-card-header>
  <mat-card-content>

   
    <mat-form-field class="jname">
      <input [(ngModel)]="job.job_title" matInput placeholder="Job Title" required> 
    </mat-form-field> 
    <mat-form-field class="cname">
        <input [(ngModel)]="job.company_name" matInput placeholder="Company Name" required>
      </mat-form-field>

    <br>
    <mat-form-field  class="description"> 
      <textarea rows="10" [(ngModel)]="job.job_description" matInput placeholder="Job Description" required></textarea>
    </mat-form-field>
    <br>
   
    <br>
    <mat-form-field class="site">
      <input [(ngModel)]="job.employeerID" matInput placeholder="Company Website" required>
    </mat-form-field>

    <mat-form-field class="select">
        <mat-select [(ngModel)]="job.job_type"  matSelect placeholder="Job Type"required>
          <mat-option value="fulltime">Full Time</mat-option>
          <mat-option value="parttime">Part Time</mat-option>
          <mat-option value="contract">Contract</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <mat-form-field class="address">
      <input [(ngModel)]="job.company_address" matInput placeholder="Company Address" required>
    </mat-form-field>

    <button mat-raised-button (click)='createNewJob()'>Submit</button>
    <br>
   
  </mat-card-content>


</mat-card>