.description{
    width: 100%;
    
}

.text{
    height: 2vw;
}
.cname{
    float: right;
    width:49%;
}
.jname{
    width:49%
}
.site{
    width: 49%;
}
.address{
    width: 49%;
}
.select{
    float:right;
    width:49%;
}

button{
    float:right;
}