.allJobs{
    background-color: aqua;
    
}

.createJob{
    
    position: absolute;
    top: 400px;
    right: 100px;
}

.eachJob{
 max-width: 400px;
 text-align: center;
 color: rgb(144, 105, 180);
 background-color: black;
};

