<div class="container">
    <mat-card-content>
        <img src="../../../assets/icons8-account-50.png">
    </mat-card-content>
    <hr>
    <div class="content">
        <mat-form-field class="example-full-width">
            <h3>First Name: Billy {{ user.fname }}</h3>
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <h3>Last Name:Johnson{{ user.lname }}</h3>
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <h3>Company Name: {{user.company}}</h3>
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <h3> Social Media: </h3>
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Delete Profile</button>
</div>