.container{
    padding: 2vw;
    
    
    margin: auto;
    width: 20%;
    text-align: center;
   
}




.bodyyyy{
    
    background-color: rgb(144, 105, 180,0);
         
    display: grid;
       
    padding: 7vw;
    
 }

.butt{
    background-color: #E24A52 !important;
    margin: 1vw;
    padding: .2vw;
    color:white;
}