<div class="container">
    <mat-card-content>
        <img src="../../../assets/icons8-account-50.png">
    </mat-card-content>
    <hr>
    <div class="content">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" type="text">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" type="text">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Company Name" type="text">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="LinkendIn" type="text">
        </mat-form-field>
    </div>
    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Delete Profile</button>
</div>
