<div class="container">
    <mat-card-content>
        <img src="../../../assets/icons8-account-50.png">
    </mat-card-content>
    <hr>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label></mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="content">
        <mat-form-field class="example-full-width">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <button mat-raised-button class="btn btn-danger pull-right" ng-click="addField()">Add Field</button>
    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Delete Profile</button>
</div>