
.k{
    background-color: #E24A52 !important;
    height: 30px;
    position: fixed;
    width:100%;
    text-align: right;
    
    
}

p{
    margin: 5px;
    color: #af363c;
    font-family: 'Roboto', sans-serif;
}
